<fieldset>
    <legend><h1>Todo List</h1></legend>

    {% if items %}
        <ul style="list-style-type: none; padding: 0;">
            {% for item in items %}
                <li>
                    <form action="{% url 'todo:toggle_status' item.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <label for="status_{{ item.id }}">
                            <input type="checkbox" id="status_{{ item.id }}" name="status" value="done" 
                                {% if item.status == 'done' %}checked{% endif %}
                                onchange="this.form.submit()"> 
                            {{ item.item_text }} ({{ item.get_status_display }})
                        </label>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No items yet. Click the Add button to create some!</p>
    {% endif %}
</fieldset>

<form action="{% url 'todo:add-item' user=user %}" method="get">
    <button type="submit">Add</button>
</form>
